@font-face {
  font-family: 'emizen';
  src: local('emizen'), url('emizen.ttf') format('truetype');
}

header {
  text-align: center;
  font-size: 80;
  colour: rgb(0, 0, 0);
  font-family: 'emizen', sans-serif; 
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  margin-left: 20px;
  color: white;
}
