@font-face {
  font-family:Emizen ;
  src: local('Emizen.ttf');}

header {
  font-family: Emizen;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  margin-left: 20px;
  color: white;
}
